// TODO: Move this to layout.css.scss layer.
.container > header {
  margin: 1.4em 0 3em 0;

  img.logo {
    display: block;
    width: 164px;
    margin: 0 auto;
  }

  div.social-buttons {
    position: relative;
    text-align: center;
    margin: 1.4em auto;
    padding-left: 28px;
  }
}

body.photos {
  article {
    & > img {
      display: block;
      max-width: 590px;
      margin: 0 auto;
    }

    margin-bottom: 2em;
  }

  aside {
    position: fixed;

    ol {
      $link-color: #444;

      line-height: 1.4;
      list-style: none;
      // background-color: #f1f1f1;

      a {
        color: $link-color;
        border-bottom: 1px $link-color solid;
        border-bottom-color: rgba(0, 0, 0, 0.33);
        text-decoration: none;
      }

      li {
        margin: 6px 0;
      }
    }
  }
}
