// TODO: Move this to layout.css.scss layer.
.container > header {
  margin: 1.4em 0 3em 0;

  img.logo {
    display: block;
    width: 164px;
    margin: 0 auto;
  }
}

body.photos {
  article {
    & > img {
      display: block;
      max-width: 590px;
      margin: 0 auto;
    }

    margin-bottom: 2em;
  }
}
